@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply font-sans;
}

body {
    overflow-x: hidden;
}

.block1 {
    animation: appearleft linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25%;
}

.block2 {
    animation: appearright linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25%;
}